.Rhistory
.Rapp.history
.RData
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
__pychache__/*
.idea/*
.vagrant/*
ubuntu-*
packages_snippets.py
CostFunctions/__pycache__/
.DS_Store
.gitignore
/DataAnalysis/bayes_only_bbob/
/DataAnalysis/no_bayesian_bbob/
/DataAnalysis/no_bayesian_bbob_feval40_no_n10/
/DataAnalysis/.Rhistory
/DataAnalysis/bbob_nobayes.csv
/DataAnalysis/Hypercomp-AlgorithmAnalysis.Rmd
/DataAnalysis/no_bayesian_bbob_merged.csv
/DataAnalysis/NoBayesianBBOB.nb.html
/DataAnalysis/wrangling.nb.html
/DataAnalysis/wrangling.R
/DataAnalysis/wrangling.Rmd
/DataAnalysis/bbob_bayes_no_smac.csv
